@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.home{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-bottom: 3rem;
  background-color: white;
}

.header-table{
  background-color: #F4DAFDED;
  height: 10rem;
  margin-bottom: 3rem;
}

.tittle-report{
  font-family: 'Inter';
  color: #F98317;
  font-size: 50px;
  font-weight: bold;
}

.tittle-table{
  font-family: 'Inter';
  color: #BD6ED9;
  font-size: 30px;
}
