@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('inter-ui/Inter.css');


:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 0, 0, 0;
}

@media (prefers-color-scheme: light) {
  :root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 255, 255, 255;
    --background-end-rgb: 255, 255, 255;
    --color-botones: #F98317;
    --color-botones-hover: #F17F16;     
    --fondo-tabla: #F4DAFD54;
    --borde-tabla: #EAC0F9;
    --principal-purple: #BD6ED9
  }
}

.my-table {
    color: #000000;
    background-color: white;
  }

.button-container {
    display: flex;
    justify-content: space-evenly;
  }
  
.my-button{
    background-color: var(--color-botones) !important;
    color: white !important;
    border: none !important;
    border-radius: 8px !important;
    padding: 1px 1px !important;
    margin: 4px !important;
    cursor: pointer !important;
    width: 2rem !important;
    height: 2.4rem !important;
 }
  
  .my-button-all{
    background-color: var(--color-botones) !important;
    color: white !important;
    border: none !important;
    border-radius: 8px !important;
    padding: 1px 1px !important;
    margin: 4px !important;
    cursor: pointer !important;
    width: 3rem !important;
    height: 3rem !important;
  }
  
  .div-button-all{
    display: "flex";
    flex-direction: "row";
    justify-content: "flex-end";
    align-items: "center";
  }
  
  .my-button-date{
    background-color: #272727;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 1px 1px;
    margin: 4px;
    cursor: pointer;
    width: 3rem;
    height: 3rem;
  }
  
  
  
  .my-button:hover {
    background-color: var(--color-botones-hover);
  }
  
  .my-button:disabled{
    background-color: rgba(255, 166, 0, 0.616);
    color: rgba(255, 255, 255, 0.74);
    cursor: not-allowed;
  }
  
  [id='react-aria-:RnemkqH1:'] {
    color: var(--color-botones) !important;
  }
  [id='react-aria-:R17emkqH3:'] {
    color: var(--color-botones) !important;
  }

  [id='react-aria8000353855-:r3:'] {
    color: var(--color-botones) !important;
  }

  .select-box{
    width: 25rem;
    background-color: transparent !important;
    color: #71717A;
    border-radius: 0.6rem;
    border: 1px solid rgb(231, 231, 231);
  }

  
  #input-filter > div:first-child > div:first-child {
    background-color: transparent !important;
    border: 1px solid #E4E4E7;
    color: #71717A;
  }

  #input-filter > div:first-child > div:first-child > label {
    color: var(--color-botones) !important; /* Cambia 'red' a tu color deseado */
  }

  
  
  .item-select{
    color: black;
  }
  
  /*
  .data-picker-container{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #272727;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    border-radius: 10px;
  }
  
  .data-picker{
    color: white;
    background-color: #272727;
    margin-left: 0.5rem;
  }
  */
  

  
  .upload-text{
    font-family: 'Inter';
    font-size: 18px;
  }
  
  .pink-button:disabled{
    background-color: #cf4cff;
    color: white;
    font-family: 'Inter';
  }


  /* para quitar el estilo del borde de la tabla */
  .p-4.z-0.flex.flex-col.relative.justify-between.gap-4.bg-content1.overflow-auto {
    padding: 0%;
    border: 0.2rem solid var(--borde-tabla);
  }

  th[role="columnheader"] {
    background-color: var(--fondo-tabla);
    border: 0.1rem solid var(--borde-tabla);
    text-align: center;
    color: #000000;
    font-size: 16px;
    font-family: 'Inter';
  }

  thead{
    border: 0%;
  }

  td {
    border: 0.1rem solid var(--borde-tabla);
  }
  tr[tabindex="-1"] {
    margin-left: 0% !important;
    margin-top: 0% !important;
  }

  ul[data-slot="wrapper"] {
    color: var(--color-botones)
  }

  td[data-selected="true"] {
    background-color: var(--borde-tabla);
    color: white;
  }

  tr[data-hover="true"] {
    background-color: #f4dafd;
    color: black;
  }

  .modal {
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .modal-content {
    background: white;
    width: 80%; /* Puedes ajustar este valor según tus necesidades */
    max-height: 100vh; /* Puedes ajustar este valor según tus necesidades */
    overflow-y: auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }

  .modal-content-download{
    background: white;
    width: 60%; /* Puedes ajustar este valor según tus necesidades */
    max-height: 100vh; /* Puedes ajustar este valor según tus necesidades */
    overflow-y: auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }

  .tittle-modal-download{
    color: var(--principal-purple);
    margin-bottom: 1rem;
  }

  .modal-download-box{
    display: flex;
  justify-content: space-between;
  }

  .button-modal-download{
    background-color: var(--color-botones) !important;
    color: white !important;
  }

  .button-modal-download:hover{
    background-color: var(--color-botones-hover);
  }